.footer {
  padding-bottom: 0;
}

.footer__link-title {
  color: #fff;
}

.link__item {
  padding-left: 0;
  background: transparent;
  border: none;
  color: #c4c4c4;
}

.link__item a {
  color: #c4c4c4;
}

.footer__bottom {
  /* margin-top: 25px; */
  background: #141124;
  padding: 20px 0px;
  text-align: center;
}

.footer__bottom p {
  font-size: 0.9rem;
  margin-bottom: 0;
}
